.env
**/pdfs/
__pycache__/

wandb/
iclr2025_data/all_notes.json
iclr2025/all_notes.json
iclr2025_data.bak/all_notes.json
iclr2026_balanced/all_notes.json
iclr2026_unbalanced/all_notes.json
iclr2026_data/all_notes.json
tmp/iclr2026_refetch_all_notes.json
tmp/neg_test.txt

*.zip
*.pkl